.a21 .body {
    display: flex;
    flex-wrap: wrap;
}

.a21 .red {
    background-color: red;
    min-height: 200px;
    width: 100%;
}

.a21 .green {
    background-color: greenyellow;
    min-height: 200px;
    width: 20%;
}

.a21 .blue {
    background-color: blue;
    min-height: 400px;
    width: 60%;
}

.a21 .pink {
    background-color: violet;
    min-height: 200px;
    width: 20%;
}

@media (max-width: 767px) {
    .a21 .green {
        width: 33.3333333333%;
    }
    .a21 .blue {
        width: 66.6666666666%;
        min-height: 800px;
    }
    .a21 .pink {
        width: 100%;
    }
}
@media (max-width: 575px) {
    .a21 .green,
    .a21 .blue, 
    .a21 .pink {
        width: 100%;
    }
    .a21 .blue {
        min-height: 1200px;
    }
}